openapi: 3.0.3
info:
  version: 7.0.0
  title: Blend API
servers:
  - url: https://api.beta.blendlabs.com
    description: Beta Environment. Cannot access Production data or Blend instances.
  - url: https://api.blendlabs.com
    description: >-
      Production Environment. Write calls will affect live, Production Blend
      instances.
security:
  - BasicAuth: []
    TargetInstance: []
  - BearerAuth: []
    TargetInstance: []
paths:
  /home-lending/applications/{id}/file-export:
    get:
      operationId: Export Application Data
      summary: Export Application Data
      description: Return the entire MISMO 3.3.1 or Fannie 3.2 file for this application.
      tags:
        - Home Lending - Applications
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/ApplicationId'
          example: 9250f84b-c2a1-4cab-b265-bd720685c361
        - in: query
          name: format
          required: true
          description: The requested data format for the response
          example: fannie
          schema:
            type: string
            enum:
              - fannie
              - mismo
      responses:
        '200':
          description: Data Exported Successfully
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RawApplicationExportData'
            application/xml; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RawApplicationExportData'
        '400':
          description: Invalid Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorSchema'
        '401':
          description: Invalid Credentials
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AuthenticationRequiredErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '500':
          description: Unexpected Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
  /home-lending/applications:
    post:
      operationId: Post Home Lending Application
      summary: Post a Home Lending Application
      description: >-
        Create a new application in Blend with minimal borrower and application
        data. This endpoint is usually used to create applications in Blend from
        CRMs or other central borrower databases.
      tags:
        - Home Lending - Applications
      requestBody:
        description: Application Creation Body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRequestSchema'
            example:
              solutionSubType: MORTGAGE
              applicationExperienceType: FULL_APPLICATION
              loanPurposeType: PURCHASE
              property:
                type: SINGLE_FAMILY
                searchType: NOT_STARTED
                usageType: PRIMARY_RESIDENCE
                value: 120000
                address:
                  streetAddressLine1: 101 main st
                  streetAddressLine2: '132'
                  city: Chicago
                  state: IL
                  zipCode: '70007'
                  zipCodePlusFour: '1000'
                  countyName: Cook County
                otherMortgages:
                  - monthlyPayment: 2500
                    lienAmount: 150000
                    willPayOff: false
                    type: CONVENTIONAL
              loanAmount: 100000
              communityId: '12345'
              leadId: lead1
              crmId: crm1
              losId: los1
              referenceNumber: '12000'
              applicationSource:
                type: LOS
                name: LOS
              sendEmailInvite: true
              interestRate: 4.25
              mortgageType: CONVENTIONAL
              party:
                name:
                  firstName: Tanya
                  middleName: M
                  lastName: Williams
                  suffixName: III
                email: twilliams@email.com
                dateOfBirth: '2000-10-03T20:07:27+00:00'
                taxpayerIdentifier:
                  value: '000113933'
                  type: SOCIAL_SECURITY_NUMBER
                homePhone: '11122223333'
                currentAddress:
                  streetAddressLine1: 100 main st
                  streetAddressLine2: '132'
                  city: Chicago
                  state: IL
                  zipCode: '70007'
                  zipCodePlusFour: '1000'
                mailingAddress:
                  streetAddressLine1: 100 main st
                  streetAddressLine2: '132'
                  city: Chicago
                  state: IL
                  zipCode: '70007'
                  zipCodePlusFour: '1000'
                customFields:
                  fieldName: fldValue
                customMetadata:
                  fieldName: fldValue
                username: testUsername123
                noEmailYet: false
      responses:
        '200':
          description: New Application
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/ApplicationId'
                  solutionSubType:
                    type: string
                    example: MORTGAGE
                  parties:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: UUID of the party
                          type: string
                          example: 18c3e52a-c7e7-4c6d-a36f-d5bca568613a
                        name:
                          description: Object representation of the party's name
                          $ref: '#/components/schemas/NameSchema'
                        type:
                          description: >-
                            ENUM describing whether this party is the primary
                            borrower or a coborrower
                          type: string
                          enum:
                            - BORROWER
                            - COBORROWER
                        username:
                          $ref: '#/components/schemas/UsernameSchema'
                  redirectUrl:
                    type: string
                    description: >-
                      redirected URL that allows consumers to be automatically
                      redirected to the application that was just created for
                      them
                    example: apply.lender.com/signup?=abc123&activationKey=321abc
                  customFields:
                    $ref: '#/components/schemas/CustomFieldsObject'
                    example: {}
                  customMetadata:
                    $ref: '#/components/schemas/CustomFieldsObject'
                    example: {}
              example:
                id: aa9fdaa2-7bf3-4411-a836-c2a46117f5c3
                solutionSubType: MORTGAGE
                parties:
                  - id: 18c3e52a-c7e7-4c6d-a36f-d5bca568613a
                    name:
                      firstName: Tanya
                      middleName: M
                      lastName: Williams
                      suffixName: III
                    type: BORROWER
                    username: testUsername123
                    customFields: {}
                    customMetadata: {}
                customFields: {}
                customMetadata: {}
        '400':
          description: Invalid Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorSchema'
        '401':
          description: Invalid Credentials
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AuthenticationRequiredErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '422':
          description: Invalid Update
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InvalidUpdateErrorSchema'
        '500':
          description: Unexpected Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
    get:
      operationId: Get Home Lending Applications
      summary: Get Applications
      description: >-
        Get a paginated list of active applications sorted by creation date
        descending. This endpoint also supports a few filtering parameters.
      tags:
        - Home Lending - Applications
      parameters:
        - name: limit
          in: query
          required: false
          description: >-
            The number of applications to be returned for this call. Minimum is
            1, maximum is 100, default is 50.
          schema:
            type: integer
          example: 50
        - name: cursor
          in: query
          required: false
          description: >-
            An opaque string used for pagination, pass the cursor back to start
            at this position
          schema:
            type: string
          example: >-
            biwxNTIzOTk4Njg1NTc5LGRkYWYwNDY5LTdlNTYtNDRjZS05MDE3LTZkM2VhNjk1Mzc2OA
        - name: losId-exists
          in: query
          required: false
          description: >-
            If losId-exists is true, then the response only contains
            applications that have losId set. If losId-exists is false, then the
            response only contains applications that do not have losId set.
            Otherwise, the response returns applications independent of the
            losId field.
          schema:
            type: string
          example: true
        - name: crmId-eq
          in: query
          required: false
          description: >-
            Filters the list of applications to applications that have the same
            crmId.
          schema:
            type: string
          example: crmId1
        - name: party-email-eq
          in: query
          required: false
          description: >-
            Filters the list of applications to applications that have a party
            with the same email.
          schema:
            type: string
          example: borrower@email.com
        - name: losId-eq
          in: query
          required: false
          description: >-
            Filters the list of applications to applications that have the same
            losId.
          schema:
            type: string
          example: losId1
        - name: exportable
          in: query
          required: false
          description: >-
            If exportable is true, then the response contains the list of
            applications that can be exported (e.g. borrower submitted, lender
            clicks export, or trid is triggered). If exportable is false, then
            the response contains the list of applications that cannot be
            exported. If omitted, the response returns applications independent
            of exportable field.
          schema:
            type: boolean
          example: true
        - name: assigneeIds-eq
          in: query
          required: false
          description: >-
            Filters the list of loans to loans that have at least one matching
            assignee. The assignee Ids are UUIDs of the lender users in Blend's
            system.
          schema:
            type: array
            items:
              type: string
              example: 9250f84b-c2a1-4cab-b265-bd720685c361
          example:
            - 9250f84b-c2a1-4cab-b265-bd720685c361
        - name: solution-sub-type
          in: query
          required: false
          description: Filters the list of loans to loans with a matching solution subtype.
          schema:
            $ref: '#/components/schemas/HomeLendingSolutionSubType'
        - name: archivedStatus
          in: query
          required: false
          description: >-
            Filters the list of loans to loans with a matching archivedStatus.
            Defaults to false.
          schema:
            type: boolean
          example: false
        - name: ignoreArchivedStatus
          in: query
          required: false
          description: >-
            Will return loans regardless of their archived status. If true, this
            overrides the value of archivedStatus query.
          schema:
            type: boolean
          example: false
      responses:
        '200':
          description: >-
            List of paginated applications, with cursors to go the next or
            previous pages.s
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  applications:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationSchema'
                  nextCursor:
                    description: Cursor to use to get to the next set of applications
                    type: string
                    example: >-
                      biwxNTIzOTk4Njg1NTc5LGRkYWYwNDY5LTdlNTYtNDRjZS05MDE3LTZkM2VhNjk1Mzc2OA
                  prevCursor:
                    description: Cursor to use to get to the previous set of applications
                    type: string
                    example: >-
                      cCwxNTIzOTk4NTQ4MTU5LGEwYWNkZTZjLWY1M2MtNGM5NC1iYmM1LWE0M2MyYTY5YjM3Mg
        '400':
          description: Invalid Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorSchema'
        '401':
          description: Invalid Credentials
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AuthenticationRequiredErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '422':
          description: Invalid Update
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InvalidUpdateErrorSchema'
        '500':
          description: Unexpected Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
  /home-lending/applications/los-milestones:
    post:
      operationId: Post LOS Milestones
      summary: Post LOS Milestones
      description: >-
        Bulk update a list of applications to specific LOS milestones. Will not
        accept LOS milestones that have not been added to customer configuration
        or allow applications to transition to previous milestones (e.g.
        APPROVED --> UNDERWRITING), unless parameter 'override' is set to true.
      tags:
        - Home Lending - Applications
      requestBody:
        description: List of application ids and the milestones to update them to
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                losMilestones:
                  type: array
                  items:
                    $ref: '#/components/schemas/LosMilestoneSchema'
                override:
                  type: boolean
      responses:
        '200':
          description: All Milestones Updated Successfully
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: array
                    items:
                      $ref: '#/components/schemas/LosMilestoneSchema'
        '207':
          description: Some Milestones Not Successfully Updated
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - error
                properties:
                  success:
                    type: array
                    items:
                      $ref: '#/components/schemas/LosMilestoneSchema'
                  error:
                    type: array
                    items:
                      $ref: '#/components/schemas/LosMilestoneErrorSchema'
        '401':
          description: Invalid Credentials
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AuthenticationRequiredErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '500':
          description: Unexpected Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
  /home-lending/applications/export-statuses:
    get:
      operationId: Get Export Statuses
      summary: List Application Export Statuses
      description: A bulk endpoint to get the export statuses for a list of applications
      tags:
        - Home Lending - Applications
      parameters:
        - name: ids
          in: query
          required: true
          description: Application IDs to query for
          schema:
            type: array
            items:
              type: string
              example: 9250f84b-c2a1-4cab-b265-bd720685c361
          example:
            - 9250f84b-c2a1-4cab-b265-bd720685c361
      responses:
        '200':
          description: All Export Statuses Retrieved Successfully
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  success:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExportStatusSchema'
                  error:
                    type: string
                    nullable: true
        '207':
          description: Some Export Statuses Not Successfully Retrieved
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                required:
                  - error
                properties:
                  success:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExportStatusSchema'
                  error:
                    type: array
                    items:
                      $ref: '#/components/schemas/BulkRequestErrorSchema'
        '401':
          description: Invalid Credentials
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AuthenticationRequiredErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
  /home-lending/applications/{id}/export-status:
    post:
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/ApplicationId'
          example: 9250f84b-c2a1-4cab-b265-bd720685c361
      operationId: Post Export Status
      summary: Post Export Status
      description: Update export status on an application
      tags:
        - Home Lending - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostExportStatusSchema'
            example:
              status: IN_PROGRESS
              reason: The application export started
      responses:
        '200':
          description: Export Status Updated Successfully
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/PostExportStatusSchema'
        '401':
          description: Invalid Credentials
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AuthenticationRequiredErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '404':
          description: Application Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationNotFoundErrorSchema'
        '500':
          description: Unexpected Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
  /home-lending/applications/{id}:
    get:
      operationId: Get Application Data
      summary: Get Application Data
      description: Get application summary in JSON.
      tags:
        - Home Lending - Applications
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/ApplicationId'
          example: 9250f84b-c2a1-4cab-b265-bd720685c361
      responses:
        '200':
          description: Data Exported Successfully
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationSchema'
                discriminator:
                  propertyName: id
        '400':
          description: Invalid Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorSchema'
        '401':
          description: Invalid Credentials
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AuthenticationRequiredErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '500':
          description: Unexpected Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
    delete:
      operationId: Delete Application Data
      summary: Delete Application
      description: Delete an application
      tags:
        - Home Lending - Applications
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/ApplicationId'
          example: 9250f84b-c2a1-4cab-b265-bd720685c361
      responses:
        '200':
          description: Application Deleted Successfully
        '400':
          description: Invalid Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorSchema'
        '401':
          description: Invalid Credentials
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AuthenticationRequiredErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '404':
          description: Application Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationNotFoundErrorSchema'
        '500':
          description: Unexpected Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
    patch:
      operationId: Patch Application
      summary: Patch Application Data
      description: Update some properties on a specific application.
      tags:
        - Home Lending - Applications
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/ApplicationId'
          example: 9250f84b-c2a1-4cab-b265-bd720685c361
      requestBody:
        description: Application Update Body
        content:
          application/json:
            schema:
              type: object
              properties:
                losId:
                  $ref: '#/components/schemas/LosId'
                tridTriggeredDate:
                  type: string
                  format: date-time
                  description: >-
                    ISO 8601 timestamp when all six elements required to trigger
                    TRID were deemed to exist in the application on the LOS
                    side.
                  example: '2018-10-03T20:07:27+00:00'
                crmId:
                  $ref: '#/components/schemas/CrmId'
                referenceNumber:
                  $ref: '#/components/schemas/ReferenceNumber'
                property:
                  type: object
                  properties:
                    address:
                      $ref: '#/components/schemas/PartialAddressSchema'
                    usageType:
                      $ref: '#/components/schemas/PropertyUsageType'
                    otherMortgages:
                      type: array
                      description: >-
                        Other mortgages on the subject property (only relevant
                        for refinances)
                      items:
                        $ref: '#/components/schemas/OtherMortgageSchema'
                    value:
                      type: number
                      description: The property's value in dollars and cents
                      example: 100000.55
                loanAmount:
                  allOf:
                    - $ref: '#/components/schemas/LoanAmount'
                    - description: >-
                        The amount of money (dollars and cents) for which the
                        applicant is applying. This field is only supported for
                        new URLA applications.
                purchasePrice:
                  type: number
                  description: >-
                    The purchase price for the subject property of the loan.
                    This field is only supported for new URLA mortgage
                    applications.
                  example: 120000
                estimatedClosingDate:
                  $ref: '#/components/schemas/EstimatedClosingDate'
                communityId:
                  type: string
                  description: >-
                    Unique identifier to determine assignment in construction or
                    branch banking scenarios
                archivedStatus:
                  $ref: '#/components/schemas/ArchivedStatusSchema'
                realEstateAgentNotificationConsentGiven:
                  type: boolean
                  description: >-
                    If set to true, real estate agents assigned to the
                    application will receive application update notifications
                  example: false
                interestRate:
                  type: number
                  description: The interest rate in percentage points
                  example: 4.25
                mortgageType:
                  type: string
                  description: ENUM describing the type of the mortgage
                  enum:
                    - CONVENTIONAL
                    - FHA
                    - LOCAL_AGENCY
                    - OTHER
                    - PUBLIC_AND_INDIAN_HOUSING
                    - STATE_AGENCY
                    - USDARURAL_DEVELOPMENT
                    - VA
                appSource:
                  type: string
                  description: >-
                    The tag corresponding to a marketing campaign. This
                    identifier can be used to gauge which links are most
                    effective within certain campaigns.
                  example: ORGANIC_LEAD
                customFields:
                  $ref: '#/components/schemas/CustomFields'
                customMetadata:
                  $ref: '#/components/schemas/CustomMetadata'
            example:
              losId: losId1
              crmId: crmId1
              referenceNumber: refNumber1
              property:
                value: 1200000
                address:
                  streetAddressLine1: 415 Kearny St
                  city: San Francisco
                  state: CA
                  zipCode: '94108'
                  countyName: San Francisco
                otherMortgages:
                  - monthlyPayment: 2500
                    lienAmount: 150000
                    willPayOff: false
                    type: CONVENTIONAL
              tridTriggeredDate: '2018-10-03T20:07:27+00:00'
              estimatedClosingDate: '2019-06-02T00:00:00.000Z'
              communityId: '12345'
              interestRate: 4.25
              mortgageType: CONVENTIONAL
              appSource: ORGANIC_LEAD
              realEstateAgentNotificationConsentGiven: true
              customFields:
                fieldName: fldValue
              customMetadata:
                fieldName: fldValue
      responses:
        '200':
          description: Application Updated Successfully
        '400':
          description: Invalid Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorSchema'
        '401':
          description: Invalid Credentials
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AuthenticationRequiredErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '500':
          description: Unexpected Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
  /home-lending/applications/{id}/documents:
    get:
      operationId: Get Application Documents
      summary: List Documents for an Application
      description: >-
        Get a list of all the uploaded and signature complete documents on a
        specific application, ordered by document creation date.
      tags:
        - Home Lending - Applications
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/ApplicationId'
          example: 9250f84b-c2a1-4cab-b265-bd720685c361
        - in: query
          name: includeAllDocuments
          description: >-
            If true, returns a list of all the documents on the application,
            including signature pending documents.
          schema:
            type: boolean
          example: false
      responses:
        '200':
          description: List of documents
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items:
                      $ref: '#/components/schemas/DocumentSchema'
              example:
                documents:
                  - id: 89968249-7cb8-42e3-b847-85bae7027281
                    losLoanId: losId1
                    type: COMPLIANCE_REPORT
                    name: Williams - Compliance Report - 011421 81718pm
                    downloadUrl: >-
                      https://blend-borrower-staging.sandbox.centrio.com/v1/documents/89968249-7cb8-42e3-b847-85bae7027281
                    created: '2021-01-14T20:17:20.127Z'
                    customFields: {}
                    customMetadata: {}
                    lastExportedAt: null
                    applicationId: 70e7df4a-29d8-4f0d-90cd-f4604e45e0b5
                    partyIds:
                      - cc730ed3-0d46-493d-bd85-8cddc60e45d1
        '401':
          description: Invalid Credentials
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AuthenticationRequiredErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '500':
          description: Unexpected Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
  /home-lending/applications/{id}/parties:
    get:
      operationId: Get Application Parties
      summary: List Parties for an Application
      description: >-
        Get a list of all parties on the application (with their econsent
        status)
      tags:
        - Home Lending - Applications
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/ApplicationId'
          example: 9250f84b-c2a1-4cab-b265-bd720685c361
      responses:
        '200':
          description: List of Parties
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  parties:
                    type: array
                    items:
                      $ref: '#/components/schemas/PartySchema'
              example:
                parties:
                  - id: cc730ed3-0d46-493d-bd85-8cddc60e45d1
                    applicationId: 70e7df4a-29d8-4f0d-90cd-f4604e45e0b5
                    email: twilliams@email.com
                    type: BORROWER
                    name:
                      firstName: Tanya
                      middleName: M
                      lastName: Williams
                      suffixName: III
                    status: INVITED
                    econsent:
                      status: Pending
                    phoneNumbers:
                      - phoneNumber: '11122223333'
                        type: HOME
                    addresses:
                      - type: CURRENT
                        address:
                          streetAddressLine1: 100 main st
                          streetAddressLine2: '132'
                          city: Chicago
                          state: IL
                          zipCode: '70007'
                          zipCodePlusFour: '1000'
                    relationship: {}
                    loginMethod: EMAIL
                    dateOfBirth: '2000-10-03T20:07:27.000Z'
                    taxpayerIdentifier:
                      type: SOCIAL_SECURITY_NUMBER
                      value: '000113933'
                    customFields: {}
                    customMetadata: {}
                  - id: 7ee059cc-1815-4c6b-92d8-a650579102a6
                    applicationId: 70e7df4a-29d8-4f0d-90cd-f4604e45e0b5
                    losPartyId: losParty2
                    username: testUsername123
                    email: james@email.com
                    type: SPOUSE
                    name:
                      firstName: James
                      middleName: William
                      lastName: Horton
                      suffixName: 3rd
                    econsent:
                      status: Pending
                    phoneNumbers: []
                    relationship: {}
                    customFields: {}
                    customMetadata: {}
        '400':
          description: Invalid Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorSchema'
        '401':
          description: Invalid Credentials
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AuthenticationRequiredErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '404':
          description: Application Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationNotFoundErrorSchema'
        '500':
          description: Unexpected Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
  /home-lending/applications/{id}/underwriting-results:
    get:
      operationId: Get Application Underwriting Results
      summary: List Underwriting Results for an Application
      description: Get a list of all underwriting results on the application
      tags:
        - Home Lending - Applications
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/ApplicationId'
          example: 9250f84b-c2a1-4cab-b265-bd720685c361
      responses:
        '200':
          description: List of Underwriting Results
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UnderwritingResultSchema'
        '401':
          description: Invalid Credentials
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AuthenticationRequiredErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '404':
          description: Application Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationNotFoundErrorSchema'
        '500':
          description: Unexpected Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
  /home-lending/applications/{id}/borrower-positions:
    get:
      operationId: Get Borrower Positions
      summary: List Borrower Positions on an Application
      description: Get the list of borrower pairs on the application
      tags:
        - Home Lending - Applications
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/ApplicationId'
          example: 9250f84b-c2a1-4cab-b265-bd720685c361
      responses:
        '200':
          description: Application Borrower Positions
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                    description: Application UUID
                    example: 3f345acb-6ac4-4bd0-b04a-dc0b9ad76e70
                  applicationId:
                    $ref: '#/components/schemas/ApplicationId'
                  borrowerPairs:
                    type: array
                    items:
                      $ref: '#/components/schemas/BorrowerPairSchema'
        '401':
          description: Invalid Credentials
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AuthenticationRequiredErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '500':
          description: Unexpected Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
    put:
      operationId: Put Borrower Positions
      summary: Put Borrower Positions on an Application
      description: >-
        Update the location of borrowers on the application (by 1003/borrower
        pairing and location in the borrower pair)
      tags:
        - Home Lending - Applications
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/ApplicationId'
          example: 9250f84b-c2a1-4cab-b265-bd720685c361
      requestBody:
        description: New Borrower Pair
        content:
          application/json:
            schema:
              type: object
              properties:
                borrowerPairs:
                  type: array
                  items:
                    $ref: '#/components/schemas/BorrowerPairSchema'
            example:
              borrowerPairs:
                - primaryBorrowerId: 9250f84b-c2a1-4cab-b265-bd720685c361
                  secondaryBorrowerId: ba02d4f4-9f4d-4be1-ab62-d1af76d21b1c
      responses:
        '200':
          description: Successfully Upserted Borrower Positions
        '401':
          description: Invalid Credentials
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AuthenticationRequiredErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '500':
          description: Unexpected Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
  /home-lending/applications/{id}/assignees:
    get:
      tags:
        - Home Lending - Applications
      summary: List the Assigned Users on an Application
      description: Gets the array of users currently assigned to the application
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/ApplicationId'
          example: 9250f84b-c2a1-4cab-b265-bd720685c361
      responses:
        '200':
          description: Assignees Successfully Retrieved
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UserAssignmentResponseSchema'
        '401':
          description: Invalid Credentials
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AuthenticationRequiredErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '404':
          description: Application Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationNotFoundErrorSchema'
        '500':
          description: Unexpected Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
    patch:
      tags:
        - Home Lending - Applications
      summary: Patch the Assigned Users on an Application
      description: Adds assignees to the specified application.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/ApplicationId'
          example: 9250f84b-c2a1-4cab-b265-bd720685c361
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAssignmentRequestSchema'
      responses:
        '200':
          description: Successfully Added Users to Application Assignees
        '400':
          description: >-
            Assignee users must exist and have permissions to be assigned to the
            application
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorSchema'
        '401':
          description: Invalid Credentials
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AuthenticationRequiredErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '404':
          description: Application or User Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationNotFoundErrorSchema'
        '500':
          description: Unexpected Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
    put:
      tags:
        - Home Lending - Applications
      summary: Override All Current Assignees on an Application
      description: Completely overwrites current set of assigned users with provided users
      parameters:
        - in: path
          name: id
          required: true
          schema:
            $ref: '#/components/schemas/ApplicationId'
          example: 9250f84b-c2a1-4cab-b265-bd720685c361
        - in: query
          name: autoAssignLoanTeam
          description: >-
            Automatically assign the primary assignee's loan team to the
            application. Defaults to true.
          schema:
            type: boolean
            default: true
          example: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAssignmentRequestSchema'
      responses:
        '200':
          description: Successful Overwrite of Application Assignees
        '400':
          description: >-
            Assignee users must exist and have permissions to be assigned to the
            application
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorSchema'
        '401':
          description: Invalid Credentials
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AuthenticationRequiredErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '404':
          description: Application or User Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationNotFoundErrorSchema'
        '500':
          description: Unexpected Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
  /home-lending/applications/{id}/itp:
    get:
      operationId: Get Intent to Proceed
      summary: Get Intent to Proceed
      description: >-
        Get Intent to Proceed (ITP) data. This endpoint will return information
        about the state of ITP on an application once the ITP workflow has been
        added or ITP has been given.
      tags:
        - Home Lending - Applications
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: guid
          description: The ID of the Blend Application that ITP data is being retrieved for
          example: bf88d29e-2b69-44d3-8953-59d720ce996a
      responses:
        '200':
          description: Intent to Proceed data
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetITPResponse'
        '400':
          description: Invalid Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '404':
          description: Intent to Proceed Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ITPNotFoundError'
        '429':
          description: Rate Limited
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RateLimitedErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
    post:
      operationId: Post Intent to Proceed
      summary: Post Intent to Proceed
      description: >-
        Post Intent to Proceed (ITP). This endpoint will add an ITP workflow to
        the specified borrower on an application, or mark ITP as complete if
        `givenAt` is supplied. Returns 409 Conflict if ITP workflow already
        exists for the specified `borrowerId`, or if ITP has already been given
        on the application `borrowerId` belongs to.
      tags:
        - Home Lending - Applications
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: guid
          description: The ID of the Blend application `borrowerId` belongs to.
          example: 46a1f64d-286e-4fb3-b0ca-79606cba9145
      requestBody:
        description: Post Intent to Proceed Body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - borrowerId
              properties:
                borrowerId:
                  type: string
                  format: guid
                  description: >-
                    Party ID of borrower to either add ITP workflow for, or if
                    `givenAt` is supplied, mark ITP as given by.
                  example: 52843951-c41f-44b7-a33c-2e499ce75029
                givenAt:
                  type: string
                  format: date-time
                  description: >-
                    The ISO 8601 datetime when the specified `borrowerId`
                    confirmed their Intent to Proceed.
                  example: '2020-05-03T12:06:21.789Z'
      responses:
        '200':
          description: Intent to Proceed data
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetITPResponse'
        '400':
          description: Invalid Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationNotFoundErrorSchema'
        '409':
          description: >-
            Conflict. Returned if ITP workflow already exists for a borrower, or
            ITP has already been given on the application the borrower belongs
            to.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ConflictErrorSchema'
        '429':
          description: Rate Limited
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RateLimitedErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
  /home-lending/applications/employers/verified:
    get:
      parameters:
        - name: applicationId
          in: query
          required: true
          description: The application to retrieve verified employers for.
          schema:
            $ref: '#/components/schemas/ApplicationId'
          example: aa9fdaa2-7bf3-4411-a836-c2a46117f5c3
      operationId: Get verified employers
      summary: Get verified employers from an Application
      description: Gets a summary of verified employers data for an Application
      tags:
        - Home Lending - Applications
      responses:
        '200':
          description: Verified EmployersSummary for Application was successfully retrieved
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/VerifiedEmployersSchema'
        '400':
          description: Invalid Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorSchema'
        '404':
          description: Application Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationNotFoundErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
  /home-lending/applications/employers/reverify:
    post:
      operationId: Post Employers Reverify
      summary: Initiate Reverification of Employers
      description: >-
        Initiates an asynchronous attempt to reverify employers for the
        specified application and employers.
      tags:
        - Home Lending - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployersReverifyRequestSchema'
      responses:
        '200':
          description: >-
            An attempt to reverify employers for a partyId on the application
            has been initiated.
        '400':
          description: Invalid Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '404':
          description: Application Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApplicationNotFoundErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
  /documents:
    get:
      operationId: Get Documents
      summary: List Documents
      description: Get a paginated list of documents
      tags:
        - Documents
      parameters:
        - in: query
          name: cursor
          description: >-
            An opaque string used for pagination, pass the cursor back to start
            at this position. Note that if you change any of the query
            parameters you used in the initial request, the cursor will be
            invalid and will not return the next page of results.
          schema:
            type: string
            example: >-
              biwxNTI0MTcwNDEwMTAwLDI2OTU0N2ZmLWY2NDMtNDA0ZC1hYTQzLTEzOGI2NTA2OTdjMg
        - in: query
          name: limit
          description: >-
            The number of documents to be returned for this call. Minimum is 1,
            maximum is 100, default is 50.
          schema:
            type: number
            example: 25
        - in: query
          name: exported
          description: >-
            If exported is true, then the response only contains documents that
            have already been exported. If exported is false, then the response
            only contains documents that have not already been exported.
            Otherwise, the response returns documents independent of the
            exported field.
          schema:
            type: boolean
            example: false
        - in: query
          name: uploadedAfter
          description: Returns only documents uploaded after this time (UTC ISO Timestamp)
          schema:
            type: string
            format: date-time
            example: '2018-10-03T20:07:27+00:00'
        - in: query
          name: uploadedBefore
          description: Returns only documents uploaded before this time (UTC ISO Timestamp)
          schema:
            type: string
            format: date-time
            example: '2018-10-03T20:07:27+00:00'
        - in: query
          name: statusIncludes
          required: false
          description: Comma delimited string of document statuses to filter for
          schema:
            type: string
            enum:
              - READY
              - SIGNATURE_REQUESTED
              - VOIDED
          example: READY
      responses:
        '200':
          description: >-
            List of paginated documents, with cursors to go the next or previous
            pages.
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items:
                      $ref: '#/components/schemas/DocumentSchema'
                  prevCursor:
                    type: string
                    description: Cursor to use to get to the previous set of documents
                  nextCursor:
                    type: string
                    description: Cursor to use to get to the next set of documents
              example:
                documents:
                  - id: 89968249-7cb8-42e3-b847-85bae7027281
                    losLoanId: losId1
                    type: COMPLIANCE_REPORT
                    name: Williams - Compliance Report - 011421 81718pm
                    downloadUrl: >-
                      https://blend-borrower-staging.sandbox.centrio.com/v1/documents/89968249-7cb8-42e3-b847-85bae7027281
                    created: '2021-01-14T20:17:20.127Z'
                    customFields: {}
                    customMetadata: {}
                    lastExportedAt: null
                    applicationId: 70e7df4a-29d8-4f0d-90cd-f4604e45e0b5
                    partyIds:
                      - cc730ed3-0d46-493d-bd85-8cddc60e45d1
                prevCursor: >-
                  biwxNjEwNTcxMDQyMDAwLGM5ZGM2ZDg0LTg4ZjktNGI0Ny04ODhiLWIwZGQyMmQ4NzRiNQ
                nextCursor: >-
                  cCwxNjEwNTcxMDQyMDAwLGM5ZGM2ZDg0LTg4ZjktNGI0Ny04ODhiLWIwZGQyMmQ4NzRiNQ
        '400':
          description: Invalid Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorSchema'
        '401':
          description: Invalid Credentials
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AuthenticationRequiredErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '500':
          description: Unexpected Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
    post:
      operationId: Post Document
      summary: Attach a Document to an Application
      description: >-
        Create a document on a specific application with a file and related
        metadata.
      tags:
        - Documents
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DocumentRequestSchema'
      responses:
        '200':
          description: Successfully Uploaded Document File and Metadata
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DocumentSchema'
        '400':
          description: Invalid Request
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorSchema'
        '401':
          description: Invalid Credentials
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/AuthenticationRequiredErrorSchema'
        '403':
          description: Not Authorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/NotAuthorizedErrorSchema'
        '500':
          description: Unexpected Error
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/InternalServerErrorSchema'
  /documents/{id}:
    get:
      operationId: Get Document Data
      summary: Get Document Data
      description: Download the file associated with a document
      tags:
        - Documents
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: >-
            The UUID of the Document in Blend's system. The static identifier
            that should be used to connect the document's identity across Blend
            and external integrations.
          example: 9250f84b-c2a1-4cab-b265-bd720685c361
      responses:
        '200':
          description: Successfully Exported Document Binary
          content:
            application/pdf:
              schema:
                type: string
                format: binary
                description: Base64 Encoded File Binary
                example: >-
                  JVBERi0xLjcKJfbk/N8KMSAwIG9iago8PAovVHlwZSAvQ2F0YWxvZwovUGFnZXMgMiAwIFIKL0Fj
                  cm9Gb3JtIDMgMCBSCi9NZXRhZGF0YSA0IDAgUgo+PgplbmRvYmoKNSAwIG9iago8PAovUHJvZHVj
                  ZXIgKFJBRCBQREYgMy43LjEuMSAtIGh0dHA6Ly93d3cucmFkcGRmLmNvbSkKL0FjY2Vzc2liaWxp
                  dHkgKHN0cnVjdHVyZWQ7IHRhZ2dlZCkKL0F1dGhvciAoU0U6VzpDQVM6U1A6U1BCOlQpCi9DcmVh
                  dG9yIChSQUQgUERGKQovRm9ybSMyMGZpZWxkcyAoZmlsbGFibGUpCi9LZXl3b3JkcyAoRmlsbGFi
                  bGUpCi9TUERGICgxMTEyKQovU3ViamVjdCAoUmVxdWVzdCBmb3IgVHJhbnNjcmlwdCBvZiBUYXgg
                  UmV0dXJuKQovVGl0bGUgKEZvcm0gNDUwNi1UIFwoUmV2LiA5LTIwMThcKSkKL0NyZWF0aW9uRGF0
                  ZSAoRDoyMDE4MDkyNTExMDgxNS0wNCcwMCcpCi9Nb2REYXRlIChEOjIwMTgxMjA1MjEwODM0WikK
                  Pj4KZW5kb2JqCjIgMCBvYmoKPDwKL1R5cGUgL1BhZ2VzCi9Db3VudCAyCi9LaWRzIFs2IDAgUiA3
                  IDAgUl0KPj4KZW5kb2JqCjMgMCBvYmoKPDwKL0RBICgvSGVsdiAwIFRmIDAgZykKL0ZpZWxkcyBb
                  OCAwIFIgOSAwIFIgMTAgMCBSIDExIDAgUiAxMiAwIFIgMTMgMCBSIDE0IDAgUiAxNSAwIFIgMTYg
                  MCBSIDE3IDAgUgoxOCAwIFIgMTkgMCBSIDIwIDAgUiAyMSAwIFIgMjIgMCBSIDIzIDAgUiAyNCAw
                  IFIgMjUgMCBSIDI2IDAgUiAyNyAwIFIKMjggMCBSIDI5IDAgUiAzMCAwIFIgMzEgMCBSIDMyIDAg
                  UiAzMyAwIFIgMzQgMCBSIDM1IDAgUiAzNiAwIFJdCi9EUiA8PAovRm9udCAzNyAwIFIKPj4KL05l
                  ZWRBcHBlYXJhbmNlcyB0cnVlCj4+CmVuZG9iago0IDAgb2JqCjw8Ci9UeXBlIC9NZXRhZGF0YQov
                  U3VidHlwZSAvWE1MCi9MZW5ndGggMTMwMQo+PgpzdHJlYW0NCjw/eHBhY2tldCBiZWdpbj0i77u/
                  IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+Cjx4OnhtcG1ldGEgeG1sbnM6eD0iYWRv
                  YmU6bnM6bWV0YS8iIHg6eG1wdGs9IkR5bmFQREYgNC4wLjI1LjY2LCBodHRwOi8vd3d3LmR5bmFm
                  b3Jtcy5jb20iPgo8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIv
                  MjItcmRmLXN5bnRheC1ucyMiPgo8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgoJeG1sbnM6
                  cGRmPSJodHRwOi8vbnMuYWRvYmUuY29tL3BkZi8xLjMvIgoJeG1sbnM6ZGM9Imh0dHA6Ly9wdXJs
                  Lm9yZy9kYy9lbGVtZW50cy8xLjEvIgoJeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hh
                  cC8xLjAvIgoJeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iPgo8
                  cGRmOktleXdvcmRzPkZpbGxhYmxlPC9wZGY6S2V5d29yZHM+CjxwZGY6UHJvZHVjZXI+UkFEIFBE
                  RiAzLjcuMS4xIC0gaHR0cDovL3d3dy5yYWRwZGYuY29tPC9wZGY6UHJvZHVjZXI+Cjx4bXA6Q3Jl
                  YXRlRGF0ZT4yMDE4LTA5LTI1VDExOjA4OjE1LTA0OjAwPC94bXA6Q3JlYXRlRGF0ZT4KPHhtcDpD
                  cmVhdG9yVG9vbD5SQUQgUERGPC94bXA6Q3JlYXRvclRvb2w+Cjx4bXA6TWV0YWRhdGFEYXRlPjIw
                  MTgtMTItMDVUMjE6MDg6MzRaPC94bXA6TWV0YWRhdGFEYXRlPgo8eG1wOk1vZGlmeURhdGU+MjAx
                  OC0xMi0wNVQyMTowODozNFo8L3htcDpNb2RpZnlEYXRlPgo8ZGM6Y3JlYXRvcj48cmRmOlNlcT48
                  cmRmOmxpIHhtbDpsYW5nPSJ4LWRlZmF1bHQiPlNFOlc6Q0FTOlNQOlNQQjpUPC9yZGY6bGk+PC9y
                  ZGY6U2VxPjwvZGM6Y3JlYXRvcj4KPGRjOmRlc2NyaXB0aW9uPjxyZGY6QWx0PjxyZGY6bGkgeG1s
                  Omxhbmc9IngtZGVmYXVsdCI+UmVxdWVzdCBmb3IgVHJhbnNjcmlwdCBvZiBUYXggUmV0dXJuPC9y
                  ZGY6bGk+PC9yZGY6QWx0PjwvZGM6ZGVzY3JpcHRpb24+CjxkYzp0aXRsZT48cmRmOkFsdD48cmRm
                  OmxpIHhtbDpsYW5nPSJ4LWRlZmF1bHQiPkZvcm0gNDUwNi1UIChSZXYuIDktMjAxOCk8L3JkZjps
                  aT48L3JkZjpBbHQ+PC9kYzp0aXRsZT4KPHhtcE1NOkRvY3VtZW50SUQ+dXVpZDoxODk0OWNlMy1h
                  YzE2LTM4ZmItYmE5ZC1iZTk1MzNmMzFjNTc8L3htcE1NOkRvY3VtZW50SUQ+Cjx4bXBNTTpWZXJz
                  aW9uSUQ+MTwveG1wTU06VmVyc2lvbklEPgo8eG1wTU06UmVuZGl0aW9uQ2xhc3M+ZGVmYXVsdDwv
                  eG1wTU06UmVuZGl0aW9uQ2xhc3M+CjwvcmRmOkRlc2NyaXB0aW9uPgo8L3JkZjpSREY+CjwveDp4
                  bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJ3Ij8+DQplbmRzdHJlYW0KZW5kb2JqCjYgMCBvYmoKPDwK
                  L1R5cGUgL1BhZ2UKL1BhcmVudCAyIDAgUgovQ29udGVudHMgMzggMCBSCi9NZWRpYUJveCBbMCAw
                  IDYxMS45NzYwMSA3OTEuOTY4MDJdCi9Dcm9wQm94IFswIDAgNjExLjk3NjAxIDc5MS45NjgwMl0K
                  L0Fubm90cyBbOCAwIFIgOSAwIFIgMTAgMCBSIDExIDAgUiAxMiAwIFIgMTMgMCBSIDE0IDAgUiAx
                  NSAwIFIgMTYgMCBSIDE3IDAgUgoxOCAwIFIgMTkgMCBSIDIwIDAgUiAyMSAwIFIgMjIgMCBSIDIz
                  IDAgUiAyNCAwIFIgMjUgMCBSIDI2IDAgUiAyNyAwIFIKMjggMCBSIDI5IDAgUiAzMCAwIFIgMzEg
                  MCBSIDMyIDAgUiAzMyAwIFIgMzQgMCBSIDM1IDAgUiAzNiAwIFJdCi9UYWJzIC9TCi9SZXNvdXJj
                  ZXMgPDwKL0ZvbnQgPDwKL0MwXzAgMzkgMCBSCi9DMF8xIDQwIDAgUgovVDFfMCA0MSAwIFIKL1Qx
                  XzEgNDIgMCBSCi9UMV8yIDQzIDAgUgovVDFfMyA0NCAwIFIKL1QxXzQgNDUgMCBSCj4+Cj4+Cj4+
                  CmVuZG9iago3IDAgb2JqCjw8Ci9UeXBlIC9QYWdlCi9QYXJlbnQgMiAwIFIKL0NvbnRlbnRzIDQ2
                  IDAgUgovTWVkaWFCb3ggWzAgMCA2MTEuOTc2MDEgNzkxLjk2ODAyXQovQ3JvcEJveCBbMCAwIDYx
                  MS45NzYwMSA3OTEuOTY4MDJdCi9UYWJzIC9TCi9SZXNvdXJjZXMgPDwKL0ZvbnQgPDwKL0MwXzAg
                  NDAgMCBSCi9UMV8wIDQxIDAgUgovVDFfMSA0NCAwIFIKL1QxXzIgNDcgMCBSCi9UMV8zIDQzIDAg
                  UgovVDFfNCA0OCAwIFIKL1QxXzUgNDUgMCBSCj4+Cj4+Cj4+CmVuZG9iago4IDAgb2JqCjw8Ci9T
                  dWJ0eXBlIC9XaWRnZXQKL1JlY3QgWzM2IDYzNS43MjggMzAyLjQgNjUyLjI4OF0KL0FQIDw8Ci9O
                  IDQ5IDAgUgo+PgovREEgKC9IZUJvIDcuOTk5OTIgVGYgMCAwIC40OTgwNCByZykKL0YgNAovRmYg
                  ODM4ODYwOAovRlQgL1R4Ci9QIDYgMCBSCi9UIChmaWxlck5hbWUpCi9RIDAKL1YgKCkKPj4KZW5k
                  b2JqCjkgMCBvYmoKPDwKL1N1YnR5cGUgL1dpZGdldAovUmVjdCBbMzYgNTk5LjcyOCAzMDIuNCA2
                  MjUuNjQ4XQovQVAgPDwKL04gNTAgMCBSCj4+Ci9EQSAoL0hlQm8gNy45OTk5MiBUZiAwIDAgLjQ5
                  ODA0IHJnKQovRiA0Ci9GZiA4Mzg4NjA4Ci9GVCAvVHgKL1AgNiAwIFIKL1QgKGNvZmlsZXJOYW1l
                  KQovUSAwCi9WIChUNzE0MCBUNzE0MCkKPj4KZW5kb2JqCjEwIDAgb2JqCjw8Ci9TdWJ0eXBlIC9X
                  aWRnZXQKL1JlY3QgWzMwMi40IDU5OS43MjggNTc2IDYxNi4yODhdCi9BUCA8PAovTiA1MSAwIFIK
                  Pj4KL0RBICgvSGVCbyA3Ljk5OTkyIFRmIDAgMCAuNDk4MDQgcmcpCi9GIDQKL0ZUIC9UeAovUCA2
                  IDAgUgovVCAoY29maWxlclNTTikKL01heExlbiAxMQovUSAxCi9WICg5OTktOTktOTkwMCkKPj4K
                  ZW5kb2JqCjExIDAgb2JqCjw8Ci9TdWJ0eXBlIC9XaWRnZXQKL1JlY3QgWzM2IDU3NS45NjggNTc2
                  IDU4OS42NDhdCi9BUCA8PAovTiA1MiAwIFIKPj4KL0RBICgvSGVCbyA3Ljk5OTkyIFRmIDAgMCAu
                  NDk4MDQgcmcpCi9GIDQKL0ZmIDgzODg2MDgKL0ZUIC9UeAovUCA2IDAgUgovVCAoY3VycmVudEFk
                  ZHJlc3MpCi9RIDAKL1YgKFQ3MTQwIFQ3MTQwLCA0NDUgQW5kZXJzb24gUm9hZCwgQm9hcmRtYW4s
                  IE9SIDk3ODE4KQo+PgplbmRvYmoKMTIgMCBvYmoKPDwKL1N1YnR5cGUgL1dpZGdldAovUmVjdCBb
                  MzYgNTUyLjIwOCA1NzYgNTY1Ljg4OF0KL0FQIDw8Ci9OIDUzIDAgUgo+PgovREEgKC9IZUJvIDcu
                  OTk5OTIgVGYgMCAwIC40OTgwNCByZykKL0YgNAovRmYgODM4ODYwOAovRlQgL1R4Ci9QIDYgMCBS
                  Ci9UIChmaWxpbmdBZGRyZXNzKQovUSAwCi9WICgpCj4+CmVuZG9iagoxMyAwIG9iago8PAovU3Vi
                  dHlwZSAvV2lkZ2V0Ci9SZWN0IFszNiA1MTYuMjA4IDU3NiA1MzIuMDQ4XQovQVAgPDwKL04gNTQg
                  MCBSCj4+Ci9EQSAoL0hlQm8gNy45OTk5MiBUZiAwIDAgLjQ5ODA0IHJnKQovRiA0Ci9GZiA4Mzg4
                  NjA4Ci9GVCAvVHgKL1AgNiAwIFIKL1QgKG1haWxpbmdBZGRyZXNzKQovUSAwCi9WIChCQi1TdGFn
                  aW5nLCAxMDAgTW9udGdvbWVyeSBTdC4sIFNhbiBGcmFuY2lzY28sIENBKQo+PgplbmRvYmoKMTQg
                  MCBvYmoKPDwKL1N1YnR5cGUgL1dpZGdldAovUmVjdCBbMjA4LjggMTkyLjIwOCAyMzAuNCAyMDMu
                  NzI4XQovQVAgPDwKL04gNTUgMCBSCj4+Ci9EQSAoL0hlQm8gNy45OTk5MiBUZiAwIDAgLjQ5ODA0
                  IHJnKQovRiA0Ci9GVCAvVHgKL1AgNiAwIFIKL1QgKGZpcnN0TW9udGgpCi9NYXhMZW4gMgovUSAx
                  Ci9WICgxMikKPj4KZW5kb2JqCjE1IDAgb2JqCjw8Ci9TdWJ0eXBlIC9XaWRnZXQKL1JlY3QgWzIz
                  Ny42IDE5Mi4yMDggMjU4LjQ4IDIwMy43MjhdCi9BUCA8PAovTiA1NiAwIFIKPj4KL0RBICgvSGVC
                  byA3Ljk5OTkyIFRmIDAgMCAuNDk4MDQgcmcpCi9GIDQKL0ZUIC9UeAovUCA2IDAgUgovVCAoZmly
                  c3REYXkpCi9NYXhMZW4gMgovUSAxCi9WICgzMSkKPj4KZW5kb2JqCjE2IDAgb2JqCjw8Ci9TdWJ0
                  eXBlIC9XaWRnZXQKL1JlY3QgWzI2Ni40IDE5Mi4yMDggMjk1LjIgMjAzLjcyOF0KL0FQIDw8Ci9O
                  IDU3IDAgUgo+PgovREEgKC9IZUJvIDcuOTk5OTIgVGYgMCAwIC40OTgwNCByZykKL0YgNAovRlQg
                  L1R4Ci9QIDYgMCBSCi9UIChmaXJzdFllYXIpCi9NYXhMZW4gNAovUSAxCi9WICgyMDE4KQo+Pgpl
                  bmRvYmoKMTcgMCBvYmoKPDwKL1N1YnR5cGUgL1dpZGdldAovUmVjdCBbMzAyLjQgMTkyLjIwOCAz
                  MjQgMjAzLjcyOF0KL0FQIDw8Ci9OIDU4IDAgUgo+PgovREEgKC9IZUJvIDcuOTk5OTIgVGYgMCAw
                  IC40OTgwNCByZykKL0YgNAovRlQgL1R4Ci9QIDYgMCBSCi9UIChzZWNvbmRNb250aCkKL01heExl
                  biAyCi9RIDEKL1YgKDEyKQo+PgplbmRvYmoKMTggMCBvYmoKPDwKL1N1YnR5cGUgL1dpZGdldAov
                  UmVjdCBbMzMxLjIgMTkyLjIwOCAzNTIuMDggMjAzLjcyOF0KL0FQIDw8Ci9OIDU5IDAgUgo+Pgov
                  REEgKC9IZUJvIDcuOTk5OTIgVGYgMCAwIC40OTgwNCByZykKL0YgNAovRlQgL1R4Ci9QIDYgMCBS
                  Ci9UIChzZWNvbmREYXkpCi9NYXhMZW4gMgovUSAxCi9WICgzMSkKPj4KZW5kb2JqCjE5IDAgb2Jq
                  Cjw8Ci9TdWJ0eXBlIC9XaWRnZXQKL1JlY3QgWzM5NiAxOTIuMjA4IDQxNy42IDIwMy43MjhdCi9B
                  UCA8PAovTiA2MCAwIFIKPj4KL0RBICgvSGVCbyA3Ljk5OTkyIFRmIDAgMCAuNDk4MDQgcmcpCi9G
                  IDQKL0ZUIC9UeAovUCA2IDAgUgovVCAodGhpcmRNb250aCkKL01heExlbiAyCi9RIDEKL1YgKCkK
                  Pj4KZW5kb2JqCjIwIDAgb2JqCjw8Ci9TdWJ0eXBlIC9XaWRnZXQKL1JlY3QgWzQ1My42IDE5Mi4y
                  MDggNDgyLjQgMjAzLjcyOF0KL0FQIDw8Ci9OIDYxIDAgUgo+PgovREEgKC9IZUJvIDcuOTk5OTIg
                  VGYgMCAwIC40OTgwNCByZykKL0YgNAovRlQgL1R4Ci9QIDYgMCBSCi9UICh0aGlyZFllYXIpCi9N
                  YXhMZW4gNAovUSAxCi9WICgpCj4+CmVuZG9iagoyMSAwIG9iago8PAovU3VidHlwZSAvV2lkZ2V0
                  Ci9SZWN0IFs0ODkuNiAxOTIuMjA4IDUxMS4yIDIwMy43MjhdCi9BUCA8PAovTiA2MiAwIFIKPj4K
                  L0RBICgvSGVCbyA3Ljk5OTkyIFRmIDAgMCAuNDk4MDQgcmcpCi9GIDQKL0ZUIC9UeAovUCA2IDAg
                  UgovVCAoZm91cnRoTW9udGgpCi9NYXhMZW4gMgovUSAxCi9WICgpCj4+CmVuZG9iagoyMiAwIG9i
                  ago8PAovU3VidHlwZSAvV2lkZ2V0Ci9SZWN0IFs1MTguNCAxOTIuMjA4IDUzOS4yOCAyMDMuNzI4
                  XQovQVAgPDwKL04gNjMgMCBSCj4+Ci9EQSAoL0hlQm8gNy45OTk5MiBUZiAwIDAgLjQ5ODA0IHJn
                  KQovRiA0Ci9GVCAvVHgKL1AgNiAwIFIKL1QgKGZvdXJ0aERheSkKL01heExlbiAyCi9RIDEKL1Yg
                  KCkKPj4KZW5kb2JqCjIzIDAgb2JqCjw8Ci9TdWJ0eXBlIC9XaWRnZXQKL1JlY3QgWzU0Ny4yIDE5
                  Mi4yMDggNTc2IDIwMy43MjhdCi9BUCA8PAovTiA2NCAwIFIKPj4KL0RBICgvSGVCbyA3Ljk5OTky
                  IFRmIDAgMCAuNDk4MDQgcmcpCi9GIDQKL0ZUIC9UeAovUCA2IDAgUgovVCAoZm91cnRoWWVhcikK
                  L01heExlbiA0Ci9RIDEKL1YgKCkKPj4KZW5kb2JqCjI0IDAgb2JqCjw8Ci9TdWJ0eXBlIC9XaWRn
                  ZXQKL1JlY3QgWzE1MS4yIDQxOS43MjggMjY2LjQgNDMxLjk2OF0KL0FQIDw8Ci9OIDY1IDAgUgo+
                  PgovREEgKC9IZUJvIDcuOTk5OTIgVGYgMCAwIC40OTgwNCByZykKL0YgNAovRmYgODM4ODYwOAov
                  RlQgL1R4Ci9QIDYgMCBSCi9UICh0cmFuc2NyaXB0UmVxdWVzdGVkKQovUSAxCi9WICgxMDQwKQo+
                  PgplbmRvYmoKMjUgMCBvYmoKPDwKL1N1YnR5cGUgL1dpZGdldAovUmVjdCBbODYuNCA3MS4yNDgg
                  NTc2IDgzLjQ4OF0KL0FQIDw8Ci9OIDY2IDAgUgo+PgovREEgKC9IZUJvIDcuOTk5OTIgVGYgMCAw
                  IC40OTgwNCByZykKL0YgNAovRmYgODM4ODYwOAovRlQgL1R4Ci9QIDYgMCBSCi9UICh0aXRsZSkK
                  L1EgMAovViAoKQo+PgplbmRvYmoKMjYgMCBvYmoKPDwKL1N1YnR5cGUgL1dpZGdldAovUmVjdCBb
                  NDM5LjIgOTUuNzI4IDU3NiAxMTEuNTY4XQovQVAgPDwKL04gNjcgMCBSCj4+Ci9EQSAoL0hlQm8g
                  Ny45OTk5MiBUZiAwIDAgLjQ5ODA0IHJnKQovRiA0Ci9GZiA4Mzg4NjA4Ci9GVCAvVHgKL1AgNiAw
                  IFIKL1QgKGZpbGVyUGhvbmVOdW1iZXIpCi9RIDEKL1YgKDk4Ny05NzktNzk3NykKPj4KZW5kb2Jq
                  CjI3IDAgb2JqCjw8Ci9TdWJ0eXBlIC9XaWRnZXQKL1JlY3QgWzQyNC44IDE5Mi4yMDggNDQ1LjY4
                  IDIwMy43MjhdCi9BUCA8PAovTiA2OCAwIFIKPj4KL0RBICgvSGVCbyA3Ljk5OTkyIFRmIDAgMCAu
                  NDk4MDQgcmcpCi9GIDQKL0ZUIC9UeAovUCA2IDAgUgovVCAodGhpcmREYXkpCi9NYXhMZW4gMgov
                  USAxCi9WICgpCj4+CmVuZG9iagoyOCAwIG9iago8PAovU3VidHlwZSAvV2lkZ2V0Ci9SZWN0IFsz
                  NjAgMTkyLjIwOCAzODguOCAyMDMuNzI4XQovQVAgPDwKL04gNjkgMCBSCj4+Ci9EQSAoL0hlQm8g
                  Ny45OTk5MiBUZiAwIDAgLjQ5ODA0IHJnKQovRiA0Ci9GVCAvVHgKL1AgNiAwIFIKL1QgKHNlY29u
                  ZFllYXIpCi9NYXhMZW4gNAovUSAxCi9WICgyMDE3KQo+PgplbmRvYmoKMjkgMCBvYmoKPDwKL1N1
                  YnR5cGUgL1dpZGdldAovUmVjdCBbMzAyLjQgNjM1LjcyOCA1NzYgNjUyLjI4OF0KL0FQIDw8Ci9O
                  IDcwIDAgUgo+PgovREEgKC9IZUJvIDcuOTk5OTIgVGYgMCAwIC40OTgwNCByZykKL0YgNAovRlQg
                  L1R4Ci9QIDYgMCBSCi9UIChwcmltYXJ5RmlsZXJTU04pCi9NYXhMZW4gMTEKL1EgMQo+PgplbmRv
                  YmoKMzAgMCBvYmoKPDwKL1N1YnR5cGUgL1dpZGdldAovUmVjdCBbNTY0LjQ4IDM4Mi4yODggNTcz
                  LjEyIDM5MC4yMDhdCi9BUCA8PAovTiA8PAovWWVzIDcxIDAgUgovT2ZmIDcyIDAgUgo+PgovRCA8
                  PAovWWVzIDczIDAgUgovT2ZmIDc0IDAgUgo+Pgo+PgovREEgKC9aYURiIDAgVGYgMCBnKQovRiA0
                  Ci9GVCAvQnRuCi9IIC9QCi9NSyA8PAovQ0EgKDQpCj4+Ci9QIDYgMCBSCi9UIChyZXR1cm5UcmFu
                  c2NyaXB0KQovQVMgL09mZgovViAvT2ZmCj4+CmVuZG9iagozMSAwIG9iago8PAovU3VidHlwZSAv
                  V2lkZ2V0Ci9SZWN0IFs1NjQuNDggMzQ5Ljg4OCA1NzMuMTIgMzU3LjgwOF0KL0FQIDw8Ci9OIDw8
                  Ci9ZZXMgNzUgMCBSCi9PZmYgNzYgMCBSCj4+Ci9EIDw8Ci9ZZXMgNzcgMCBSCi9PZmYgNzggMCBS
                  Cj4+Cj4+Ci9EQSAoL1phRGIgMCBUZiAwIGcpCi9GIDQKL0ZUIC9CdG4KL0ggL1AKL01LIDw8Ci9D
                  QSAoNCkKPj4KL1AgNiAwIFIKL1QgKGFjY291bnRUcmFuc2NyaXB0KQovQVMgL1llcwovViAvWWVz
                  Cj4+CmVuZG9iagozMiAwIG9iago8PAovU3VidHlwZSAvV2lkZ2V0Ci9SZWN0IFs1NjQuNDggMzI2
                  LjEyOCA1NzMuMTIgMzM0LjA0OF0KL0FQIDw8Ci9OIDw8Ci9ZZXMgNzkgMCBSCi9PZmYgODAgMCBS
                  Cj4+Ci9EIDw8Ci9ZZXMgODEgMCBSCi9PZmYgODIgMCBSCj4+Cj4+Ci9EQSAoL1phRGIgMCBUZiAw
                  IGcpCi9GIDQKL0ZUIC9CdG4KL0ggL1AKL01LIDw8Ci9DQSAoNCkKPj4KL1AgNiAwIFIKL1QgKHJl
                  Y29yZE9mQWNjb3VudCkKL0FTIC9ZZXMKL1YgL1llcwo+PgplbmRvYmoKMzMgMCBvYmoKPDwKL1N1
                  YnR5cGUgL1dpZGdldAovUmVjdCBbNTY0LjQ4IDMwMS42NDggNTczLjEyIDMxMC4yODhdCi9BUCA8
                  PAovTiA8PAovWWVzIDgzIDAgUgovT2ZmIDg0IDAgUgo+PgovRCA8PAovWWVzIDg1IDAgUgovT2Zm
                  IDg2IDAgUgo+Pgo+PgovREEgKC9aYURiIDAgVGYgMCBnKQovRiA0Ci9GVCAvQnRuCi9IIC9QCi9N
                  SyA8PAovQ0EgKDQpCj4+Ci9QIDYgMCBSCi9UICh2ZXJpZmljYXRpb25PZk5vbmZpbGluZykKL0FT
                  IC9ZZXMKL1YgL1llcwo+PgplbmRvYmoKMzQgMCBvYmoKPDwKL1N1YnR5cGUgL1dpZGdldAovUmVj
                  dCBbNTY0LjQ4IDI1NC4xMjggNTczLjEyIDI2Mi4wNDhdCi9BUCA8PAovTiA8PAovWWVzIDg3IDAg
                  UgovT2ZmIDg4IDAgUgo+PgovRCA8PAovWWVzIDg5IDAgUgovT2ZmIDkwIDAgUgo+Pgo+PgovREEg
                  KC9aYURiIDAgVGYgMCBnKQovRiA0Ci9GVCAvQnRuCi9IIC9QCi9NSyA8PAovQ0EgKDQpCj4+Ci9Q
                  IDYgMCBSCi9UIChvdGhlclRyYW5zY3JpcHQpCi9BUyAvT2ZmCi9WIC9PZmYKPj4KZW5kb2JqCjM1
                  IDAgb2JqCjw8Ci9TdWJ0eXBlIC9XaWRnZXQKL1JlY3QgWzM2LjcyIDEyMS42NDggNDQuNjQgMTI5
                  LjU2OF0KL0FQIDw8Ci9OIDw8Ci9ZZXMgOTEgMCBSCi9PZmYgOTIgMCBSCj4+Ci9EIDw8Ci9ZZXMg
                  OTMgMCBSCi9PZmYgOTQgMCBSCj4+Cj4+Ci9EQSAoL1phRGIgMCBUZiAwIGcpCi9GIDQKL0ZUIC9C
                  dG4KL0ggL1AKL01LIDw8Ci9DQSAoNCkKPj4KL1AgNiAwIFIKL1QgKHZlcmlmeVNpZ24pCi9BUyAv
                  T2ZmCi9WIC9PZmYKPj4KZW5kb2JqCjM2IDAgb2JqCjw8Ci9TdWJ0eXBlIC9XaWRnZXQKL1JlY3Qg
                  WzM2IDQ5MS43MjggNTc2IDUwNi4xMjhdCi9BUCA8PAovTiA5NSAwIFIKPj4KL0RBICgvSGVCbyA3
                  Ljk5OTkyIFRmIDAgMCAuNDk4MDQgcmcpCi9GIDQKL0ZUIC9UeAovTUsgPDwKPj4KL1AgNiAwIFIK
                  L1QgKGN1c3RvbWVyRmlsZU51bWJlcikKL01heExlbiAxMAovUSAwCj4+CmVuZG9iagozNyAwIG9i
                  ago8PAovSGVsdiA5NiAwIFIKL0hlQm8gOTcgMCBSCi9aYURiIDk4IDAgUgo+PgplbmRvYmoKMzgg
                  MCBvYmoKPDwKL0ZpbHRlciAvRmxhdGVEZWNvZGUKL0xlbmd0aCA1OTAyCj4+CnN0cmVhbQ0KeJy1
                  XOtv4ziS/x4g/wM/pg+OWpRIPRaDAXq6Z3b7cDPb28neYQ8GDootx5qxLY8kJ5P766+KjyL1sJz0
                  7u0A290yRVYV6/GrYlEhC+G/r3++ClnFrt5/LXdFVz2VH+td3VT7smuqFWuqq98ZVwM541EUCJbK
                  JIh4xlb7K3yM/38biSCVnO2u7q7+dvXD/dX7j/WhKw8d++679z9//PwJxn3//Q+fPjL1Ssiaxyuu
                  Fr3n/4Mz32+uUvVDyuKEpXEWZHHE7vdXNz/VzZ6xd/e/qrFcj414kAk1PhIMyYl77wgZJrf3+M6P
                  P8OSI2K4JcZbPgmEMBTIOJCSpVES5EmuJlze3JXHrtw/lA2LQp4t39HkP95r8TkpxRJkwdIwVa+T
                  lDKYDv5yXkSRpWooGY80FA6HiVOu6PpUHoum2+Ms9YZ125LdN2XRnpoXLTLYGRj46ermMyzVHIod
                  +1o+lYdTye7K5qlaley8kGJfSJGmhEeaxwikkMIWRCwVSZACVUjN1/L3U9l2bFM3QEdxaFdNdVSU
                  3Rd/wMrdqTnMyM1ol4iCMIx62sXDIMrkjOhEX3QfQxKdmjthPMmDUKBm4eZIJPe7MEz490avYj08
                  U8MzxlNphosg0sNv2KeaHeqOtdXjAURdtcjnnp0Ou7JtWbHbseJ43FWr4mFXsl11KFu2LZ5K9lCW
                  B7aq98dd2ZXr4LIA4gjMK+0LAH7I8xkByIsCyESQh8BRFIMAkosCyEMzHIjRw2+Y3d998QJcsab8
                  tVwBS6zSqqfEAWKpDpZbBopQ7XblYwUymeecg3GMTCZO4IEkoxlJKgpHjggklYo5SSWXVSUNJBDD
                  kfP0sqbEenQIYk21nMBlsX3dlCAJlAk41frAiof61DHlzbR7WrCnqq0669mEnveGPT8/B1XTBo/1
                  03t8HUfTKLP6zZwwRZYHfML/pAGfkiUOTyadusguyDI957GsL5dhGMRASxwGgmuX9deff2C/1AHj
                  UshbnqXRkJMwkOx57E+TlPf5kQJHzjnUbESeEV+qXgQC4U/wXUmeBnGoybuvjoELN4adm7+3pb91
                  rKtBtdcQDArWeY6uYTUYQgOWga6ut/2bpgRzWF5v2GpbNI9lAB64VGZzbOr1adWBywDTeih39XPA
                  /lGf2Ko4sN9P1eq33QtMqC3PLba8btnDCzu11eGRXH0QKWdfn4CwU1fD0mCdbbnb3G7L3RH+pn1+
                  V9e7NmBfdhAqSq2FMBErOvb56x3qHSsOa7baLa9hdQbEL6Mo/nPZAbfoyJ1rD4IAfhLgA1EWOOoe
                  p1bPQBgrdIr8NgvD5fVtHma3eQ7Rgn3esBfg71ACcQV4xuOLYuD+34By9ZMV4AKoKtlQ9WkfFsNd
                  Gg31A9JHXKcXioLR+/eweSW6sIJtcHdq9qi4Xpl3PdoCdhEBJPBHT2OjZAQBiqPSDqux+TmNte4G
                  YlKSxNYx3fBirKu/FPuStdv6+YBb1wG7lmIQfMF+rSswESvgEnGBUsMDvoZzcaQdYcP66kZPswF3
                  1M0zHEboXDyOmWE5FQGfcDr4ggCbxlCX95xOnARyRkI8PCciRGtGSjF4Y9EX1ANjPyEbrK1XFeCg
                  tlydmqp7YYeTQnU9US3AdNfVU7U+wUh4fCxeYEi1Lg/L667aQIxXNKFAAKyAYzPi0nMtUPdLiIC1
                  fct7xyy3vGlLjA9t14Dtww/t8t1ljZJ5PqdRI/HGyZvFy1+jgVFGgo0mNPCsnrXHGiwa3EPUan2b
                  VNPLejaWQ0/NJhkbo+sBY0ZpotTxBkpzV65qcIbntKaZ1JShGU3rAMAmLSTH/CtUIEUTy2bD4JD1
                  +BV7KnOCOzcxY+NN/XhqGgyuuG8LVqzXDcLe5Q2gvd1pjVEIlg0WrKnrvbKA9lQBAjzUwfLdgq1A
                  aAvWdgUELnwdRPrfn7+AY12X32oLEvBA+iY5iNfIIUHd1lmfmJLDl6Z8qmoMl0YETofBi+6K1io9
                  uM2dBsfrarMplfA2Tb1XuQGLl9eTjF/mm8u38i1fw7fA/c8U33LappG/PtpBxfVBDkROiJmQGuwL
                  xTv8o8BUqVkzzFNfgGPALafVlhUYYwEjd4/FY6myo+LwgoriApL3nvMYpHkLtrwehPsEFEKgsNDk
                  hgzcJmGQ5OSpmVLBrtyVx20N26FN8hVBXYk/OSv/4XCRI2pN3rRdyWu2K8woMZUPU9baAv4DSaIS
                  uqADyuiSVLCyb9JAIeJLGjist4wThaHzTSAP4UFoNPAjwFeg5k8jhGbVEBTPU0XQu4cSXdAZvUO1
                  ak8N6hSAXEBxYHwqN99gdgo2ejAJewIjmvr0uAUk9lBuMIfDdB+mBryOeT9qzRpgNSW8MFN9MHUU
                  DcGlwuCIcAdLwCutqQwEAEdVioxE6+dtVx5bhjhdGRFkBR1k16DlCnQem+qpWL0E7K+4GC4OUB0c
                  S7va1S0QrgYNpAKz+Ha0vEYLxCwDyCHArTlnckGTbsE2DzXY5KFr6h2rn0BznlFuA6Nk6xoWfq66
                  LTwFr+57AgL5z/Vpt4YlflNoelftq9E82rhhw7c1hlYQKIy0nGnGLLX+lrvFFmolTJfaY7mqNi+6
                  OqMWM37poOd5hgVAMUGoxSPkY6puZhjokaQyA3amdpj5dTGjxrDtQrBbcKG4/eBfkpnCGieUHwWx
                  BMwahKl+yyua4esy4Kr6gT+ZDLBcB0Nbl4EwY35UvlOj0kTm5inyZgAJt7OhpuhnSZqaZ6p8o1+O
                  k9g8NJ4DH8dBGtv3VZ6kx0b2/eUND0W4MGPDJDPPeZjIhRmchZYqzqNw/LTsVoEJ/jBzbKlAq9Pk
                  5rl9ttqWkJzqke7pFLPg8ZoaDAjNVotVpFZkD/UfNHNkn+kcXPMRJfmsdOvD7sU85N5DS0VOK4HI
                  h+npcCcnd+M2wVq3sK7F7clRFRqUVhidmKhlxXmQQtQTkQRV6xezzpXiZIg1N8EHEJtD4EtnvXx0
                  NjWzXl4iwhZYzTVIs5gxk8ilIoHVpa8OJcdBElphObtZjK1DWj143laAPIx6cqsxGr+CJ8MfIIug
                  Sfd129ntjhK7sxuzsZEUY5UjFVI+1WhAZCEJwOF9a1We8/MzaqmE3qvOXlMa1fiyCDm93JqRgt7W
                  QNQYFb2vHJ+1NDnDDBaFRm9/MMPCOHo7jV3fzwkQsCVABRW9mMzstmPZXU+dRTlNvdlhgFQ2IjNg
                  N0Yb4cZIVtvi8Oh2NbXz74u19VxZbueHgGP2IEnHgsjs5herVX06dIad3FJSbJxjiPNkZoK+OEK7
                  fGW3zG4Y+KsVYFzr7MF27QxO01v7U2qnKRq3omXXc08RedMnQEnqlEILJ6LR4HQu+yiZ8RkWN/UO
                  vKctSgogr898+ycbTOiVn1zgSbnVJowl1vpC+7Atm6psF7TnUd7bc2+ihCTWDz9ivKY3tBeTLg69
                  /WCDXUZpx/nBf7GDcwpM5wf/hx2M9fdRDCS7ODvBnQ1fQlrZ9VxnlI1N0SpUKOKxQlGEHikP/YJF
                  Vj1ahhPuxEpoZeoIhj4Kry9l0ZiNzYcbi7wb9WFkG2x9agx8RngMq8f2R3yM8wHO/rlWCbkKky1g
                  y2eA45ihumnQDwJA5CF7wGo6pvTr4sVIIyZwFRje/vl/sonTG5kICHJxhmW7DP5rSgizk0H2Yh1L
                  Bdk4ySnIPswFWaoNpUFqy6eaFm+GD57jA5MmBzAfd5PJwBtZ5cUEo4DU07po8px+RcHgtdi6ZfMI
                  ZBmN8W1GsXtTHYqDqtjpyUPSdyxBnVpDDI+sdbgonMzNayLAgjynHayKGiZsCXLIFIrJOI/FC2Yd
                  lunUvu+FpZznb2P2LFHH8lDsuheyqizuWxWof9sqcvS7CZijFYh1NxFEeALS619Pbefol2rGcVwl
                  ET68WAEIOy+mahYaE5/WceBJ88hxSMsnJqfmVfK3vdg7FbzpbS/2Rt7az4WFG1wI0p6dDb147m5n
                  6HnQOOZn1TXO7CsU2UPyfyotNXAMpiEc6jBITLjAA4wpxVFP1UQ+UrWYwqqHx0ijdlXxUO0qqxMJ
                  pJ6w2sDTgqes9NEhTmE1NmDWC/ghA0OECwkbdfCNDnd5rd31wAG/0f0mwHfWc8BTTlPoTGXebV6s
                  /Wq3iScmxumt5tym9HOTW6sfq7qxG5sT3CLX4rbmg2+xntMEh0BYp+c0Uw8ZPlUuW4nycRZCaM5P
                  YEiK67IrKB1AEJudVeMJP0ZmU3U2R3GPCMUmo0SGBq3q/QP4Zm+VPBtlQjGhwAmuelYoIrvU/TCl
                  yMXYlXEKPhMT+0HuVqbAbOpbhnfqzT70NN4iGoVgcLHY4BE0nxEMWV6/3Q7+X2DIeYOKpGowmzeo
                  y1VqmAXQZ8xdB1E6Z1JpvypmjOo/AfL3DlxlkEbj3Dmxj36pD+C+AQBOGFcm+ci4IBaIZKjBYZw7
                  ezOLoBERvMBjHBN00onSE2WzXsgKXQgvrFlSjmGjYq+kmAu73rqy2D+laGRzYo9DBtpM5KjCv9nw
                  fGiQ2VSGHnkremB+bIuOP9RuGyglua6PPYifjCE+1kkdASY0GBiYTaSzNNivtiXTKQma7jB9UCDh
                  30+HknHZbQPT54ELHGobvnRYbICUptJHIXimpw1ZEd6A6WpS/7mgBkBszpinDDJUR53z9ni22Wlg
                  j1HO6YAzm7PH3GUGvcRAT5C55lyL+uz2/9dtZLNoh4UnR/Iwz+1IMi4/yY8DOZFZ9ybIXjsBaXSc
                  TKT2bk4pvDmz3pw2e3Y1Ly8ojBIgqozfby00Dgk1ep6BCpR4hGGeUUHbBHxbDnBFbRtaR5QYQ0pC
                  Bw2cw8lcktUre7of1kVXWN8mqDBkHd5tgjhb+talj69s7kLIdwQnZOhKdwYbaqZIyHedLdHDfjib
                  p30jFLGrVya1gz2i3Zxb0oET8oWuqOhTraSyplTKkuYVS+No7PGnKjJZaEUKBkESjcfE2iJfmo0V
                  hlMksgoDm0gcYyOuzX3c6YWhyZXNyDfiOCre2XzDPerrmtsBdZxmdz+LegmD07tB/BpVDgVs1UzO
                  JKdCj5XW6WgRqEvPKV9yZ0qhHUUGauCXgdFUl/o8Xp/0Ymp9P/ZR/aJfyKLN60W5cSJIsPSxPJRN
                  sTMBTUBGOS53p1RDGdXdaGrArJU1Bp5P1GaJ4knKehm0l3oSUphhwT9Y4FR28GyFp3P0eAcLlKH+
                  ZKSPqpYLX9PKPwo8Ml9c1jNBpRFneVE4YXl27ydUj4oeUcg5FYVjMcF5RIZWWf9NpzvwdjR+WwEG
                  Iw0qeeAhOaEbKcduKqXDQbJxr14z1A9yHD5Yzcb5Dx1QehGJLN/pFvNFCFzFwYirzxurM84WXLWH
                  KFV9v5ZL+a/bKIgqVaPP9DUOzIGQHg48npojdkuohoFLaoS9r9i7oMqUK921cKe7AO9sF+CH9b46
                  VIAYTYt/p7udb9M0uuURygiA4vL62+sfeB55CR1GMu6na8N+HbD1N/brxBdPcuOERSImIGn7dUZC
                  nOj1hnxKRUnccthG9XcEgrqNw0hdtRx7ssf+EtVbCeB92JWNOzM5I3NWGpIefDIOqtdnjivvT22n
                  Gs6pwZzpcwfdQz7RBb68xnd1Lkl4Sl0E6oDsrSmbnYfYMT/fSoKpnNbafG6GaNBKot74h/Pz0hq8
                  h6KoFg2YtraFIAIms40mk80Q6URVxZXtysPangbCKnQEvHZQL3ZEUj4vpo5RKVv24lgWDxl0jzSD
                  lAgQHnOXJvz64tRK+/379fr9C/zPeKA89mAC+CYLLSS5N/KCOWF96wXxYhudJXuHtQPRW+JkENIZ
                  s7pOpOdIvIpDYTN3j6yTC6BccN//KTBE+HqsGfRIC661JwqhnOCEnim7MaRRwqAtwOZLnHL6g74g
                  YxGmF/XpCJhigr5r47IE77zYBhWKvIMqQpS7H/BSKylgSlDf4V/LyO+nogGtdoCMqiFeKZ0Alkli
                  FiNe/KMgAllUQZUTmYJjOReENdxpxquFXpJRYtNQEkU9+IT7YVi0vbvGA7R4ixTscffyigZYrjpa
                  X90Ay9P8Yr/60Kld7FeP9X1GrBXNRp9/8Y3NMaViwoGrUJOAnmGowabRojs1FpblVL9z1W6qkdj7
                  A8ubdvluwv26Y6/Pxsck1Ki3Llc761PiwB2EUerPCfGPXy72pN7ktisyVADi4dhJZjwakG1tjxDl
                  87ZuLUUx2QddNIocUGRegk69Vrqx3rxOQnKHouTz/G4rEhEvrMk5kZOnc/i8WBC6lueHUbWFpgfT
                  aWs6hqAlTBvr/xrYIb1+MpewUnGnfsATcOslw3Gu1BOysewk4D1UO3FwkzpM3AvmUl0sHsapfOK0
                  RQxmsF7O9YGg5VBFLBHjsgLtozsFspPqay/Gz0X9BqEF7Ti935Hg7IaXBbk/KdxxOVVNSF/1jSNL
                  JW2T7z4pcqOboGI2ta9OyAkH0gma4KPTbhmPOLf0rGpIQRqLfUSQOnewqVZ4d8zgCVJjWl04zVu5
                  uoPbKae2dJBNqOE2kSqx8tSm3YK72Na7tV1Uep1J2AV9cNS4/qZ9cSgeXXdXSmLal/rqmw2dVgSP
                  EHHWVXGwv0ii12p0D/umtMdD9xcCTnTdEh1EMat8rkfqLNnlH5CydXXjqHDHD6uyenKUc0JXhUvu
                  7ItJIMmLdg3oUFlSo9YYhyaJR5ZN7BPXyuI52CT1irWE6abKT4mHSZTXJZbCvn+/TVKA0T38B/rV
                  YXu8ppjzqQIxdeFQlKBamoqNxjwmAkKaUS3C9vLbiEC/eI2WcW9rrInmE+X+lBolze1rC7mpsk8h
                  gch6KLfFbkOcko24BGNCttkwogVDBQUxR+6ksStHkANiJWnwvS2b6msBLm0wD4kEzxtJOo+nGo9j
                  yuiqrU7ziT4b0jmvmkPPTKlBCyWkOguPbKelq+xRCcLf6xnpYVgK8x7gbAn6YK43rl7ESSDUhx9k
                  cuFsKz57gc0dTan2DR6B65FCgUKNvOrmBbNxlRooNd+W71ugGS+5NGWxVsUDPUBHUEBRGDAw8z8d
                  4d/t8rpWI9HpGZDVn0qZiV9ewLnVtGQGoPYGg/Y+IzCCeDd3g9tYs595iPMgYjxGlJC85Y5vPD66
                  DwdHhULi1PiVHSPNL94tOVVzsZjPXiCyUlASAOwFbjCa6+6P06nah/44EPyB37mR4KZj2kv3QRvz
                  lYO/2DsoZxawB6L6Ix+cwHmEwRSQALrLFJJb2DUeyiDJYnM9QiQz1yOyBC8g59jemMze7B+Sc/Zq
                  v/1WRob2kKUwce4psE0dfC1584VZ2E7ImMJU9WT2vpaCR435ROqGtdkxl1F84QqIGBcOh193gqkz
                  n81PFgxNb6NwNbJLu5jh+Wb0+k1MeZ89kYcXLpGLs823vU1MhMKP+nMi3W5qA6uNNhuwlOKhfjIf
                  nbDoUF1qM2Cm3VbHBVP+qVT3qhXw8Dd8LLP41TKTGciMv15mIlXu+g2KL8523vVkBs7M9N3deR8J
                  aHs2MKveMu/v5gXtBnsc8XJZvceBaEK90yz32Onrt6GeT33hRn08w7PPCOmcp+diExbW6RN1bce0
                  a7Av+iYp+7DqVJT7UkBC8Vw3v7Gv5Vq7E/UbwBtISBYMXc0RL2lHs8WhCEx6ggeOj+d5uPgRoVhC
                  ShsCI/rLB7ri0wXqK0JxmiTpL3NREhQ9n6ArhDxpnq5xQ82ALrywLHMl4CxK+v0wk0FN5HmQpbn/
                  gvtS3dTXk/BLYHlvPFvefC2fApbf6s/QzW5JmOHxUChGHwEZf05s6OjG0crQlqvJgaZYd3xxDBJC
                  q9d73ycNZpQUGQCP05Wl97N2rT5i8k30y/FnTAb0xyBU/hb6o7fTj7rxTdSPC6AD6vF2ZvoW6sWb
                  qdefBfs2+s+6SUu/5HEQv4X+5DL97P8AELzTXg0KZW5kc3RyZWFtCmVuZG9iagozOSAwIG9iago8
                  PAovVHlwZSAvRm9udAovU3VidHlwZSAvVHlwZTAKL0Jhc2VGb250IC9EUUhSTVgrVW5pdmVyc2Fs
                  U3RkLU5ld3N3aXRoQ29tbVBpCi9FbmNvZGluZyAvSWRlbnRpdHktSAovRGVzY2VuZGFudEZvbnRz
                  IFs5OSAwIFJdCi9Ub1VuaWNvZGUgMTAwIDAgUgo+PgplbmRvYmoKNDAgMCBvYmoKPDwKL1R5cGUg
                  L0ZvbnQKL1N1YnR5cGUgL1R5cGUwCi9CYXNlRm9udCAvSVNXVkVOK0Fkb2JlUGlTdGQKL0VuY29k
                  aW5nIC9JZGVudGl0eS1ICi9EZXNjZW5kYW50Rm9udHMgWzEwMSAwIFJdCi9Ub1VuaWNvZGUgMTAy
                  IDAgUgo+PgplbmRvYmoKNDEgMCBvYmoKPDwKL1R5cGUgL0ZvbnQKL1N1YnR5cGUgL1R5cGUxCi9C
                  YXNlRm9udCAvVFRFSkNSK0hlbHZldGljYU5ldWVMVFN0ZC1Sb21hbgovRmlyc3RDaGFyIDAKL0xh
                  c3RDaGFyIDI1NQovRW5jb2RpbmcgL1dpbkFuc2lFbmNvZGluZwovRm9udERlc2NyaXB0b3IgMTAz
                  IDAgUgovV2lkdGhzIFs1MDAgNTAwIDUwMCA1MDAgNTAwIDUwMCA1MDAgNTAwIDUwMCA1MDAKNTAw
                  IDUwMCA1MDAgNTAwIDUwMCA1MDAgNTAwIDUwMCA1MDAgNTAwCjUwMCA1MDAgNTAwIDUwMCA1MDAg
                  NTAwIDUwMCA1MDAgNTAwIDUwMAo1MDAgNTAwIDI3OCAyNTkgNDI2IDU1NiA1NTYgMTAwMCA2MzAg
                  Mjc4CjI1OSAyNTkgMzUyIDYwMCAyNzggMzg5IDI3OCAzMzMgNTU2IDU1Ngo1NTYgNTU2IDU1NiA1
                  NTYgNTU2IDU1NiA1NTYgNTU2IDI3OCAyNzgKNjAwIDYwMCA2MDAgNTU2IDgwMCA2NDggNjg1IDcy
                  MiA3MDQgNjExCjU3NCA3NTkgNzIyIDI1OSA1MTkgNjY3IDU1NiA4NzEgNzIyIDc2MAo2NDggNzYw
                  IDY4NSA2NDggNTc0IDcyMiA2MTEgOTI2IDYxMSA2NDgKNjExIDI1OSAzMzMgMjU5IDYwMCA1MDAg
                  MjIyIDUzNyA1OTMgNTM3CjU5MyA1MzcgMjk2IDU3NCA1NTYgMjIyIDIyMiA1MTkgMjIyIDg1Mwo1
                  NTYgNTc0IDU5MyA1OTMgMzMzIDUwMCAzMTUgNTU2IDUwMCA3NTgKNTE4IDUwMCA0ODAgMzMzIDIy
                  MiAzMzMgNjAwIDUwMCA1NTYgNTAwCjI3OCA1NTYgNDI2IDEwMDAgNTU2IDU1NiAyMjIgMTE0OCA2
                  NDggMjU5CjEwNzQgNTAwIDYxMSA1MDAgNTAwIDI3OCAyNzggNDI2IDQyNiA1MDAKNTAwIDEwMDAg
                  MjIyIDk5MCA1MDAgMjU5IDg5MSA1MDAgNDgwIDY0OAoyNzggMjU5IDU1NiA1NTYgNTU2IDU1NiAy
                  MjIgNTU2IDIyMiA4MDAKMzc4IDQ2MyA2MDAgMzg5IDgwMCAyMjIgNDAwIDYwMCA1MDAgNTAwCjIy
                  MiA1NTYgNjAwIDI3OCAyMjIgNTAwIDM4NCA0NjMgODM0IDgzNAo4MzQgNTU2IDY0OCA2NDggNjQ4
                  IDY0OCA2NDggNjQ4IDkyNiA3MjIKNjExIDYxMSA2MTEgNjExIDI1OSAyNTkgMjU5IDI1OSA3MDQg
                  NzIyCjc2MCA3NjAgNzYwIDc2MCA3NjAgNjAwIDc2MCA3MjIgNzIyIDcyMgo3MjIgNjQ4IDY0OCA1
                  NTYgNTM3IDUzNyA1MzcgNTM3IDUzNyA1MzcKODcwIDUzNyA1MzcgNTM3IDUzNyA1MzcgMjIyIDIy
                  MiAyMjIgMjIyCjU3NCA1NTYgNTc0IDU3NCA1NzQgNTc0IDU3NCA2MDAgNTc0IDU1Ngo1NTYgNTU2
                  IDU1NiA1MDAgNTkzIDUwMF0KPj4KZW5kb2JqCjQyIDAgb2JqCjw8Ci9UeXBlIC9Gb250Ci9TdWJ0
                  eXBlIC9UeXBlMQovQmFzZUZvbnQgL0lTV1ZFTitIZWx2ZXRpY2FOZXVlTFRTdGQtQmxrQ24KL0Zp
                  cnN0Q2hhciAwCi9MYXN0Q2hhciAyNTUKL0VuY29kaW5nIC9XaW5BbnNpRW5jb2RpbmcKL0ZvbnRE
                  ZXNjcmlwdG9yIDEwNCAwIFIKL1dpZHRocyBbNTAwIDUwMCA1MDAgNTAwIDUwMCA1MDAgNTAwIDUw
                  MCA1MDAgNTAwCjUwMCA1MDAgNTAwIDUwMCA1MDAgNTAwIDUwMCA1MDAgNTAwIDUwMAo1MDAgNTAw
                  IDUwMCA1MDAgNTAwIDUwMCA1MDAgNTAwIDUwMCA1MDAKNTAwIDUwMCAyNjAgMzE0IDQ4MSA1MjAg
                  NTIwIDc3OCA2MTEgMjYwCjMxNCAzMTQgNDA2IDYwMCAyNjAgMzY4IDI2MCAzMzMgNTIwIDUyMAo1
                  MjAgNTIwIDUyMCA1MjAgNTIwIDUyMCA1MjAgNTIwIDI2MCAyNjAKNjAwIDYwMCA2MDAgNTAwIDgw
                  MCA1NTYgNTc0IDUzNyA1NzQgNTAwCjQ4MSA1NTYgNTc0IDI2MCA0ODEgNTU2IDQ2MyA3NTggNTky
                  IDU1Ngo1MzcgNTU2IDU3NCA1MzcgNDYyIDU1NiA1MjAgNzc4IDUzNiA1MjAKNDgxIDMxNCAzMzMg
                  MzE0IDYwMCA1MDAgMjYwIDUwMCA1MjAgNDgxCjUyMCA0ODEgMzE1IDUyMCA1MjAgMjU4IDI1OCA1
                  MDAgMjU4IDc3OAo1MjAgNTAwIDUyMCA1MjAgMzUyIDQ2MyAzMTUgNTIwIDQ2MyA3NDAKNDgxIDQ2
                  MyA0NDQgMzMzIDIyMiAzMzMgNjAwIDUwMCA1MjAgNTAwCjI2MCA1MjAgNDgxIDEwMDAgNTIwIDUy
                  MCAyNjAgMTExMSA1MzcgMjQwCjc1OSA1MDAgNDgxIDUwMCA1MDAgMjYwIDI2MCA0ODEgNDgxIDUw
                  MAo1MDAgMTAwMCAyNjAgMTAwMCA0NjMgMjQwIDc0MCA1MDAgNDQ0IDUyMAoyNjAgMzE0IDUyMCA1
                  MjAgNTIwIDUyMCAyMjIgNTIwIDI2MCA4MDAKMzUyIDQ0NCA2MDAgMzY4IDgwMCAyNjAgNDAwIDYw
                  MCAzNzAgMzcwCjI2MCA1MjAgNjY2IDI2MCAyNjAgMzMzIDM1MiA0NDQgODE0IDgxNAo4MTQgNTAw
                  IDU1NiA1NTYgNTU2IDU1NiA1NTYgNTU2IDc3OCA1MzcKNTAwIDUwMCA1MDAgNTAwIDI2MCAyNjAg
                  MjYwIDI2MCA1NzQgNTkyCjU1NiA1NTYgNTU2IDU1NiA1NTYgNjAwIDU1NiA1NTYgNTU2IDU1Ngo1
                  NTYgNTIwIDUzNyA1MjAgNTAwIDUwMCA1MDAgNTAwIDUwMCA1MDAKNzQwIDQ4MSA0ODEgNDgxIDQ4
                  MSA0ODEgMjU4IDI1OCAyNTggMjU4CjUwMCA1MjAgNTAwIDUwMCA1MDAgNTAwIDUwMCA2MDAgNTAw
                  IDUyMAo1MjAgNTIwIDUyMCA0NjMgNTIwIDQ2M10KPj4KZW5kb2JqCjQzIDAgb2JqCjw8Ci9UeXBl
                  IC9Gb250Ci9TdWJ0eXBlIC9UeXBlMQovQmFzZUZvbnQgL0RRSFJNWCtJVENGcmFua2xpbkdvdGhp
                  Y1N0ZC1EZW1pCi9GaXJzdENoYXIgMAovTGFzdENoYXIgMjU1Ci9FbmNvZGluZyAvV2luQW5zaUVu
                  Y29kaW5nCi9Gb250RGVzY3JpcHRvciAxMDUgMCBSCi9XaWR0aHMgWzUwMCA1MDAgNTAwIDUwMCA1
                  MDAgNTAwIDUwMCA1MDAgNTAwIDUwMAo1MDAgNTAwIDUwMCA1MDAgNTAwIDUwMCA1MDAgNTAwIDUw
                  MCA1MDAKNTAwIDUwMCA1MDAgNTAwIDUwMCA1MDAgNTAwIDUwMCA1MDAgNTAwCjUwMCA1MDAgMzAw
                  IDMyMCA0NjAgNjAwIDYwMCA3MDAgNzIwIDMwMAozODAgMzgwIDYwMCA2MDAgMzAwIDI0MCAzMDAg
                  NjAwIDYwMCA2MDAKNjAwIDYwMCA2MDAgNjAwIDYwMCA2MDAgNjAwIDYwMCAzMDAgMzAwCjYwMCA2
                  MDAgNjAwIDU0MCA4MDAgNjQwIDY2MCA2NjAgNjYwIDU4MAo1NDAgNjYwIDY2MCAzMDAgNDAwIDY0
                  MCA1MDAgODgwIDY2MCA2NjAKNjIwIDY2MCA2NjAgNjAwIDU0MCA2NjAgNjAwIDkwMCA2NDAgNjAw
                  CjY2MCAzODAgNjAwIDM4MCA2MDAgNTAwIDM4MCA1NDAgNTQwIDU0MAo1NDAgNTQwIDMwMCA1NjAg
                  NTQwIDI2MCAyNjAgNTYwIDI2MCA4MjAKNTQwIDU0MCA1NDAgNTQwIDM0MCA1MDAgMzgwIDU0MCA0
                  ODAgNzQwCjU0MCA0ODAgNDIwIDM4MCAzMDAgMzgwIDYwMCA2MDAgNjAwIDYwMAozMDAgNjAwIDQ4
                  MCAxMDAwIDYwMCA2MDAgNTAwIDEwNDAgNjAwIDI2MAo5NjAgNjAwIDY2MCA2MDAgNjAwIDMwMCAz
                  MDAgNDgwIDQ4MCA2MDAKNTAwIDEwMDAgNTAwIDEwMDAgNTAwIDI2MCA4NjAgNjAwIDQyMCA2MDAK
                  MzAwIDMyMCA2MDAgNjAwIDYwMCA2MDAgMzAwIDYwMCA0MjAgNzQwCjM2MCA0MDAgNjAwIDI0MCA3
                  NDAgNDYwIDQwMCA2MDAgMzYwIDM2MAo0MDAgNTQwIDU0MCAzMDAgMzQwIDM2MCAzNjAgNDAwIDkw
                  MCA5MDAKOTAwIDU0MCA2NDAgNjQwIDY0MCA2NDAgNjQwIDY0MCA5MDAgNjYwCjU4MCA1ODAgNTgw
                  IDU4MCAzMDAgMzAwIDMwMCAzMDAgNjYwIDY2MAo2NjAgNjYwIDY2MCA2NjAgNjYwIDYwMCA2NjAg
                  NjYwIDY2MCA2NjAKNjYwIDYwMCA2MjAgNjYwIDU0MCA1NDAgNTQwIDU0MCA1NDAgNTQwCjgyMCA1
                  NDAgNTQwIDU0MCA1NDAgNTQwIDI2MCAyNjAgMjYwIDI2MAo1NDAgNTQwIDU0MCA1NDAgNTQwIDU0
                  MCA1NDAgNjAwIDU0MCA1NDAKNTQwIDU0MCA1NDAgNDgwIDU0MCA0ODBdCj4+CmVuZG9iago0NCAw
                  IG9iago8PAovVHlwZSAvRm9udAovU3VidHlwZSAvVHlwZTEKL0Jhc2VGb250IC9UVEVKQ1IrSGVs
                  dmV0aWNhTmV1ZUxUU3RkLUJkCi9GaXJzdENoYXIgMAovTGFzdENoYXIgMjU1Ci9FbmNvZGluZyAv
                  V2luQW5zaUVuY29kaW5nCi9Gb250RGVzY3JpcHRvciAxMDYgMCBSCi9XaWR0aHMgWzUwMCA1MDAg
                  NTAwIDUwMCA1MDAgNTAwIDUwMCA1MDAgNTAwIDUwMAo1MDAgNTAwIDUwMCA1MDAgNTAwIDUwMCA1
                  MDAgNTAwIDUwMCA1MDAKNTAwIDUwMCA1MDAgNTAwIDUwMCA1MDAgNTAwIDUwMCA1MDAgNTAwCjUw
                  MCA1MDAgMjc4IDI3OCA0NjMgNTU2IDU1NiAxMDAwIDY4NSAyNzgKMjk2IDI5NiA0MDcgNjAwIDI3
                  OCA0MDcgMjc4IDM3MSA1NTYgNTU2CjU1NiA1NTYgNTU2IDU1NiA1NTYgNTU2IDU1NiA1NTYgMjc4
                  IDI3OAo2MDAgNjAwIDYwMCA1NTYgODAwIDY4NSA3MDQgNzQxIDc0MSA2NDgKNTkzIDc1OSA3NDEg
                  Mjk1IDU1NiA3MjIgNTkzIDkwNyA3NDEgNzc4CjY2NyA3NzggNzIyIDY0OSA2MTEgNzQxIDYzMCA5
                  NDQgNjY3IDY2Nwo2NDggMzMzIDM3MSAzMzMgNjAwIDUwMCAyNTkgNTc0IDYxMSA1NzQKNjExIDU3
                  NCAzMzMgNjExIDU5MyAyNTggMjc4IDU3NCAyNTggOTA2CjU5MyA2MTEgNjExIDYxMSAzODkgNTM3
                  IDM1MiA1OTMgNTIwIDgxNAo1MzcgNTE5IDUxOSAzMzMgMjIzIDMzMyA2MDAgNTAxIDU1NiA1MDEK
                  Mjc4IDU1NiA0NjMgMTAwMCA1NTYgNTU2IDI1OSAxMTQ3IDY0OSAyNDEKMTA5MyA1MDEgNjQ4IDUw
                  MSA1MDEgMjc4IDI3OCA0NjMgNDYzIDUwMQo1MDAgMTAwMCAyNTkgMTAwMCA1MzcgMjQxIDkyNiA1
                  MDEgNTE5IDY2NwoyNzggMjc4IDU1NiA1NTYgNTU2IDU1NiAyMjMgNTU2IDI1OSA4MDAKMzQ0IDQ0
                  NCA2MDAgNDA3IDgwMCAyNTkgNDAwIDYwMCAzOTIgMzkyCjI1OSA1OTMgNjIwIDI3OCAyNTkgMzky
                  IDM2NyA0NDQgODkyIDg4OQo4ODkgNTU2IDY4NSA2ODUgNjg1IDY4NSA2ODUgNjg1IDk4MSA3NDEK
                  NjQ4IDY0OCA2NDggNjQ4IDI5NSAyOTUgMjk1IDI5NSA3NDEgNzQxCjc3OCA3NzggNzc4IDc3OCA3
                  NzggNjAwIDc3OCA3NDEgNzQxIDc0MQo3NDEgNjY3IDY2NyA2MTEgNTc0IDU3NCA1NzQgNTc0IDU3
                  NCA1NzQKOTA3IDU3NCA1NzQgNTc0IDU3NCA1NzQgMjU4IDI1OCAyNTggMjU4CjYxMSA1OTMgNjEx
                  IDYxMSA2MTEgNjExIDYxMSA2MDAgNjExIDU5Mwo1OTMgNTkzIDU5MyA1MTkgNjExIDUxOV0KPj4K
                  ZW5kb2JqCjQ1IDAgb2JqCjw8Ci9UeXBlIC9Gb250Ci9TdWJ0eXBlIC9UeXBlMQovQmFzZUZvbnQg
                  L0lTV1ZFTitIZWx2ZXRpY2FOZXVlTFRTdGQtQmRJdAovRmlyc3RDaGFyIDAKL0xhc3RDaGFyIDI1
                  NQovRW5jb2RpbmcgL1dpbkFuc2lFbmNvZGluZwovRm9udERlc2NyaXB0b3IgMTA3IDAgUgovV2lk
                  dGhzIFs1NzQgNTc0IDU3NCA1NzQgNTc0IDU3NCA1NzQgNTc0IDU3NCA1NzQKNTc0IDU3NCA1NzQg
                  NTc0IDU3NCA1NzQgNTc0IDU3NCA1NzQgNTc0CjU3NCA1NzQgNTc0IDU3NCA1NzQgNTc0IDU3NCA1
                  NzQgNTc0IDU3NAo1NzQgNTc0IDI3OCAyOTYgNDgxIDU1NiA1NTYgOTYzIDY4NSAyNzgKMjk2IDI5
                  NiA0MDcgNjAwIDI3OCA0MDcgMjc4IDM4OSA1NTYgNTU2CjU1NiA1NTYgNTU2IDU1NiA1NTYgNTU2
                  IDU1NiA1NTYgMjc4IDI3OAo2MDAgNjAwIDYwMCA1NzQgODAwIDY4NSA3MjIgNzQxIDc0MSA2NjcK
                  NTkzIDc1OSA3NDEgMjk2IDU1NiA3MjIgNTc0IDkwNyA3NDEgNzc4CjY2NyA3NzggNzIyIDY0OCA2
                  MTEgNzQxIDYzMCA5NDQgNjY3IDY0OAo2NDggMzMzIDM4OSAzMzMgNjAwIDUwMCAyNTkgNTc0IDYx
                  MSA1NTYKNjExIDU3NCAzNTIgNjExIDYxMSAyNTkgMjU5IDU1NiAyNTkgOTA3CjYxMSA1OTMgNjEx
                  IDYxMSAzODkgNTE5IDM3MCA2MTEgNTE5IDgxNQo1MTkgNTE5IDUwMCAzMzMgMjIyIDMzMyA2MDAg
                  NTAwIDU1NiA1MDAKMjc4IDU1NiA0ODEgMTAwMCA1OTMgNTkzIDI1OSAxMTMwIDY0OCAyNTkKMTEx
[...]
